*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.header__logo img {
  height: 50px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.8rem;
}

.contacts__address,
.contacts__phone,
.contacts__time {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.6rem;
  font-size: 2rem;
}

.contacts__address,
.contacts__time {
  font-size: 1.2rem;
  text-decoration: none;
  color: #428dff;
  font-weight: 700;
}

.contacts__phone a {
  font-size: 2.4rem;
  text-decoration: none;
  color: #428dff;
  font-weight: 700;
}

.contacts::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: bottom;
  margin-right: 1rem;
}

.contacts__phone::before {
  background-image: url(../img/icon-svg/call.svg);
}

.contacts__address::before {
  background-image: url(../img/icon-svg/location.svg);
}

.contacts__time::before {
  background-image: url(../img/icon-svg/clock.svg);
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to top,
      rgba(62, 58, 113, 0.7),
      rgba(62, 58, 113, 0.7)
    ),
    url(../img/ikea-2714998_1920.jpg) no-repeat 50% 100%;
  min-height: 500px;
  width: 100%;
  margin-bottom: 2rem;
}

.section__title {
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0.8rem;
}

.main__section p {
  color: #06ffa2;
  font-size: 1.8rem;
  padding: 0 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.main__section p::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.3rem;
  background-color: #06ffa2;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 1rem;
}

/* ------------------------SERVICES SECTION */
.services {
  margin-bottom: 5rem;
}

.services__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 3rem;
  color: #008151;
  text-transform: uppercase;
}

.services__title::after,
.gallery-title::after,
.price-title::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.4rem;
  background-color: #008151;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 1rem;
}

.services__item {
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #428dff;
  padding: 0 1rem;
}

.services__item:not(:last-child) {
  margin-bottom: 3rem;
}

.services__item p::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/icon-svg/location1.svg) no-repeat center;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.services__item:nth-child(2) p::before {
  background: url(../img/icon-svg/clock1.svg) no-repeat center;
  background-size: contain;
}

.services__item:nth-child(3) p::before {
  background: url(../img/icon-svg/cctv1.svg) no-repeat center;
  background-size: contain;
}

.services__item:nth-child(4) p::before {
  background: url(../img/icon-svg/sprinklers1.svg) no-repeat center;
  background-size: contain;
}

.services__item:nth-child(5) p::before {
  background: url(../img/icon-svg/trolley1.svg) no-repeat center;
  background-size: contain;
}

.services__item:nth-child(6) p::before {
  background: url(../img/icon-svg/box1.svg) no-repeat center;
  background-size: contain;
}

/* ------------------------gallery SECTION */
.gallery {
  margin-bottom: 5rem;
}

.gallery-title,
.price-title {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 3rem;
  color: #008151;
  text-transform: uppercase;
}

.gallery-card {
  height: 180px;
  background: url(../img/gallery/01.jpg) no-repeat center;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.gallery-card:nth-of-type(2) {
  background: url(../img/gallery/02.jpg) no-repeat center;
  background-size: cover;
}

.gallery-card:nth-of-type(3) {
  background: url(../img/gallery/03.jpg) no-repeat center;
  background-size: cover;
}

.gallery-card:nth-of-type(4) {
  background: url(../img/gallery/04.jpg) no-repeat center;
  background-size: cover;
}

.gallery-card:nth-of-type(5) {
  background: url(../img/gallery/08.jpg) no-repeat center;
  background-size: cover;
}

.gallery-card:nth-of-type(6) {
  background: url(../img/gallery/09.jpg) no-repeat center;
  background-size: cover;
}

.gallery-card:nth-of-type(7) {
  background: url(../img/gallery/05.jpg) no-repeat center;
  background-size: cover;
}

.gallery-card:nth-of-type(8) {
  background: url(../img/gallery/gruzoperevozki.jpg) no-repeat center;
  background-size: cover;
}

.gallery-item {
  height: 180px;
  background-color: #00000067;
  display: flex;
}

.gallery-desc {
  font-size: 1.5rem;
  color: #06ffa2;
  font-weight: 700;
  margin: auto;
  text-align: center;
}

@media (min-width: 767px) {
  .header {
    min-height: 6rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    margin: 0;
    padding: 0;
  }

  .header__contacts,
  .footer__contacts {
    display: flex;
    align-items: center;
  }

  .contacts__phone a {
    font-size: 1.2rem;
  }

  .contacts__address,
  .contacts__phone,
  .contacts__time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .contacts__address,
  .contacts__phone {
    margin-right: 2rem;
  }

  .section__title {
    font-size: 3.4rem;
  }
  .main__section p {
    font-size: 2.4rem;
  }

  .gallery-title,
  .price-title {
    font-size: 3rem;
  }

  .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .services__item {
    width: 50%;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-card {
    width: 49.5%;
  }

  .footer {
    display: flex;
    min-height: 10rem;
  }

  .footer__contacts {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .footer__contacts .contacts__phone a,
  .footer__contacts .contacts__address,
  .footer__contacts .contacts__time {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .services__item:nth-last-child(-n+2),
  .gallery-card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

}

@media (min-width: 1024px) {
  .services__item {
    width: 33.333333%;
  }

  .services__item:nth-last-child(-n+3),
  .gallery-card:nth-last-child(-n+4) {
    margin-bottom: 0;
  }

  .gallery-card {
    width: 24.6%;
  }
}

