*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Ubuntu', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__logo {
  margin: 0 auto;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.header__logo img {
  height: 50px;
  margin: 0 auto;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 0.8rem;
}

.contacts__address,
.contacts__phone,
.contacts__time {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.6rem;
  font-size: 2rem;
}

.header p {
  font-size: 1.2rem;
  text-decoration: none;
  color: #3e3a71;
  font-weight: 700;
}

.contacts__phone a {
  font-size: 2.4rem;
  text-decoration: none;
  color: #3e3a71;
  font-weight: 700;
}

.contacts::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: bottom;
  margin-right: 2rem;
}

.contacts__phone::before {
  background-image: url(../img/icon/call.png);
}

.contacts__address::before {
  background-image: url(../img/icon/location.png);
}

.contacts__time::before {
  background-image: url(../img/icon/clock.png);
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(62, 58, 113, 0.7), rgba(62, 58, 113, 0.7)), url(../img/Склад/ikea-2714998_1920.jpg) no-repeat 50%  100%;
  min-height: 500px;
  width: 100%;
  margin-bottom: 2rem;
}

.section__title {
  width: 320px;
  font-size: 2.4rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0.8rem;
}

.main__section p {
  width: 320px;
  color: #06ffa2;
  font-size: 1.8rem;
  padding: 1rem 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.main__section p::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.3rem;
  background-color: #06ffa2;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 1rem;
}

/* ------------------------SERVICES SECTION */

.services__title {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
  color: #3e3a71;
  text-transform: uppercase;
}

.services__item {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: #3e3a71;
}

