body {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 1500px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}

.header__contacts {
  display: flex;
  padding-top: 21px;
}

.header__contacts__phone {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.header__contacts__phone a {
  padding-left: 10px;
  text-decoration: none;
  color: #3e3a71;
  font-weight: 700;
}

.header__contacts__address,
.header__contacts__time {
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.header__contacts__address p,
.header__contacts__time p {
  padding-left: 10px;
  font-weight: 700;
  color: #3e3a71;
}

.main__section {
  background: url(../img/Склад/ikea-2714998_1920\ 0.5.jpg) no-repeat 50% 100%;
  height: 500px;
  text-align: center;
}

.section__title {
  font-size: 4em;
  color: #3e3a71;
  font-weight: 700;
  padding-top: 50px;
  width: 100%;
}

.main__section p {
  width: 100%;
  font-size: 1.5em;
  padding-top: 30px;
  font-weight: 700;
}

.section__slogan {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  font-weight: 900;
  border:#428dff solid 10px;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 100px;
  text-shadow: #000000 0 0 2px;
  border-radius: 20px;
}

.services__title {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #3e3a71;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3333%;
  padding-bottom: 90px;
}

.services__item p {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  color: #3e3a71;

}